alabaster==0.7.12
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
certifi==2018.10.15
chardet==3.0.4
Click==7.0
click-log==0.3.2
configparser==3.5.0
coverage==4.5.2
docutils==0.14
flake8==3.6.0
idna==2.7
imagesize==1.1.0
Jinja2==2.10
m2r==0.2.1
MarkupSafe==1.1.0
mccabe==0.6.1
mistune==0.8.4
more-itertools==4.3.0
numpydoc==0.8.0
packaging==18.0
pluggy==0.8.0
py==1.7.0
pycodestyle==2.4.0
pyflakes==2.0.0
Pygments==2.2.0
pyparsing==2.3.0
pytest==4.0.0
pytest-cov==2.6.0
pytz==2018.7
requests==2.20.1
responses==0.10.4
simplejson==3.16.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.8.2
sphinxcontrib-programoutput==0.11
sphinxcontrib-websupport==1.1.0
urllib3==1.24.2
